* ::-webkit-scrollbar {
    width: 5px;
    /* Largura da barra de rolagem no WebKit (Chrome, Safari, etc.) */
}

* ::-webkit-scrollbar-thumb {
    background-color: #E9EAEC;
    /* Cor do botão de rolagem */
    border-radius: 6px;
    /* Borda arredondada do botão de rolagem */
}